-@restaurants.each do |restaurant|
  名前:
  =link_to restaurant.name, restaurant_path(restaurant.id)
  %br  
  住所:
  =restaurant.address
  %br
  電話番号:
  =restaurant.telephone
  %hr
=link_to '新規登録', new_restaurant_path