=@restaurant.name 
=@restaurant.address
=@restaurant.telephone
=link_to 'トップに戻る', restaurants_path
=link_to '編集', edit_restaurant_path(@restaurant)
=link_to '削除', restaurant_path(@restaurant), method: :delete, data: {confirm: "削除しますか？"}